---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/header";
import Hero from "@/components/hero";
import Skills from "@/components/skills";
import Projects from "@/components/projects";
// import Research from "@/components/research";
import Experience from "@/components/experience";
import Contact from "@/components/contact";
import Footer from "@/components/footer";
---

<Layout
  title="Javier Hengda - Computer Engineer Portfolio"
  description="AI/ML Engineer & Full-Stack Developer"
>
  <Header client:load />
  <main>
    <Hero />
    <Skills />
    <Projects client:visible />
    <Experience />
    <Contact client:visible />
    <!-- 
    <Research />
    -->
  </main>
  <Footer client:visible />
</Layout>
